 html{
 font-size: 16px;
 background-color: #aad4cf;
 }

 body {
 margin:0 auto;
 background: lightblue;
 width:65rem;
 height: 100%;
 }

 .head-div{
 position: relative; 
 }

 .head-img{
 width:65rem;
 height:25rem;
 z-index:1;
 max-width:100%;
 }

 .h1-div{
 position: absolute;
 z-index: 2;
 left:15rem;
 top:11rem;
 font-size: 3rem;
 font-weight: bold;
 color:white;
 font-family: Arial, Helvetica, sans-serif;
 } 

 nav ul{ overflow:hidden;}
 nav li{ float:left; width:33%; text-align:center;}
 nav a{

 border-right: 0.1rem solid #000; 
 color:black;
 font-weight: bold;
 }

 nav li:last-child a{
 border:none;
 }
 a:hover {
 color:black;
 }
 
 nav li a{ display:block;}
 .head1 {
 font-size: 2rem;
 color:black;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 margin-top:4rem;
 margin-left: 0.9rem;
 padding-bottom: 0.2rem;
 }

 .container {
 width:65rem;
 margin: 0 auto;
 }

 .img{
 width:25rem;
 height:20rem; 
 margin: 1rem 3rem 1rem 1rem;
 float:left;
 max-width:100%;
 }

 p{
 font-size: 1.1rem;
 color:black;
 font-weight: bold;
 margin: 0 0.3rem 1rem 0.3rem;
 padding: 0.5rem 1rem;
 line-height: 130%;
 }

 .head2{
 font-size: 2rem;
 color:black;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 margin-top:2.5rem;
 margin-left: 0.8rem;
 padding-bottom: 0.3rem;
 }

 ul{
 font-size: 1.4rem;
 color:black;
 font-weight: bold;
 margin: 0rem 0rem 2.5rem 2.5rem; 
 line-height: 130%;
 }
 
 main ul{ list-style: disc outside;}
 .head3{
 font-size: 2rem;
 color:black;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 margin-left: 0.8rem;
 padding-bottom: 0.2rem;
 }